@model WebMain.Models.RecallViewModel

<h2 class="text-center">Відгуки пацієнтів про обслуговування</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Recall", FormMethod.Get, new { @role = "form", @class = "form-inline" }))
        {
            <label for="Labs">Назва лабораторії:</label>
            @Html.DropDownListFor(m => m.Labs, Model.Labs, string.Empty, new {@class = "form-control", @style = "width: 55%"})
            <input type="submit" value="Перегляд" class="btn btn-default" />
            <br/>
            <br/>
            <ul style="padding-left:15px">
                @foreach (var recall in Model.Recalls)
                {
                    <li>
                        <span class="text-info">@recall.LabName</span>
                        @recall.Recall
                    </li>
                }
            </ul>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p><h3>Додати новий відгук</h3></p>
        @using (Html.BeginForm("Index", "Recall", FormMethod.Post, new { @role = "form", @class = "" }))
        {
            <textarea name="recall" width="100%"></textarea>
            <input type="submit" value="Зберегти" class="btn btn-default" class="right"/>
        }
    </div>
</div>
