@section AddToHead
{
    <style>
        #map-canvas {
            height: 370px;
            width: 100%;
            padding-top: 20px;
        }
    </style>
}

@model WebMain.Models.SearchLabViewModel

<br />
<br />

<div class="container">

    <div style="color: #8B0000">
        <h2 class="text-center">Розташування медичних лабораторій в місті Києві</h2>
    </div>

    <ul class="lablinks">
        <li><a href="http://www.synevo.ua/uk/analizy/vse-analizy">Synevo</a></li>
        <li><a href="http://dila.ua/ua/pricelist/index.html">Dila</a></li>
        <li><a href="http://dnk-lab.com.ua/price.php">Dnklab</a></li>
        <li><a href="http://uldc.com.ua/uk/analizy-ciny/itemlist/category/100000007-laboratorni-doslidzhennya.html">ULDC</a></li>
        <li><a href="http://medlabtest.ua/ua/patients/analizy_i_zeny/po_nazvaniyu/">Medlabtest</a></li>
        <li><a href="http://www.bioplus.com.ua/pricelist.html">Bioplus</a></li>
        <li><a href="http://nikolab.com.ua/price/">Nikolab</a></li>
    </ul>

    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-7 col-md-7">
            <h4 style="color: indigo">
                Пошук всіх лабораторій однієї фірми
            </h4>

            @using (Html.BeginForm("Contact", "Home", FormMethod.Get, new { @class = "form-inline", @id = "searchFormLabs" }))
            {
                <label for="labName" class="control-label">Назва медичної лабораторії: </label>
    <select name="labName" class="form-control" onchange=" processLabNameChange(this) ">
        <option></option>
        <option>Dila</option>
        <option>Dnk</option>
        @*<option>Bioplus</option>*@
        <option>Medlabtest</option>
        <option>Nikolab</option>        
        <option>Synevo</option>
        <option>Uldc</option>
    </select>
            }
            <br />
            <div id="map-canvas">

            </div>
        </div>

        <div class="col-sm-5 col-md-5">
            <h4>
                <div style="color: indigo">Пошук найближчої медичної лабораторії</div>
            </h4>
            @using (Html.BeginForm("Contact", "Home", FormMethod.Get, new { @class = "form-inline", @id = "searchForm" }))
            {                
                @Html.DropDownListFor(m => m.Streets, Model.Streets, string.Empty, new { @class = "form-control", @style = "width: 55%" })
                <label for="searchHome" class="sr-only">Будинок: </label>
                <input name="searchHome" class="form-control" placeholder="Буд-к" style="width: 20%" />
                <input type="button" value="Пошук" class="btn btn-default" onclick=" processSearchForm(this) " style="width: 20%" />
            }
            <br />

            <h3 style="color:#B22222">Результати пошуку </h3>
            <ol id="searchResults" style="padding-left: 20px; margin-top: 0; color: indigo"></ol>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="~/Scripts/searchLabUtils.js"></script>
}