@{
    ViewBag.Title = "Пошук найближчої медичної лабораторії";
}
<h2>@ViewBag.Title</h2>

@section AddToHead
{
    <style>
        #map-canvas {
            height: 370px;
            width: 70%;
            padding-top: 20px;
        }
    </style>
}

<div class="container">
    <div class="row">
        @using (Html.BeginForm("Contact", "Home", FormMethod.Get, new { @class = "form-inline", @id = "searchForm" }))
        {
            <label for="labName" class="control-label">Назва медичної лабораторії: </label>
            <select name="labName" class="form-control" onchange=" processLabNameChange(this) ">
                <option>Synevo</option>
                <option>Dila</option>
                <option>DNK</option>
                <option>Bioplus</option>
                <option>ULDC</option>
                <option>Nikolab</option>
                <option>Medlabtest</option>
            </select>
            <label for="searchInput" class="sr-only">Адреса: </label>
            <input name="searchInput" class="form-control" placeholder="Адреса"/>
            <input type="button" value="Пошук" class="btn btn-default" onclick=" processSearchForm(this) " />
        }
    </div>

    <div class="row" style="padding-top: 20px;">
        <div id="map-canvas" class="col-sm-7 col-md-7">

        </div>
        <div class="col-sm-3 col-md-3">
            <h5>Результати пошуку: </h5>
            <ol id="searchResults" style="padding-left: 20px; margin-top: 0"></ol>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="~/Scripts/searchLabUtils.js"></script>
}