@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">


    <h1>Дипломна робота</h1>

   
<h2 style=" color: #8B0000">" ІНФОРМАЦІЙНА СИСТЕМА ДЛЯ МЕДИЧНИХ СЕРВІСІВ </h2>
    <h2 style=" color: #8B0000">З  АГРЕГАЦІЄЮ  ШИРОКОГО  СПЕКТРУ  ВІДКРИТИХ  ДАНИХ "</h2>
</div>



<div class="row">

    <div class="col-md-6">
        
        <p>
            <h2 style="color:#B22222">Актуальність обраної теми</h2>
        </p>


        <p>
            <h3 style="color: indigo" >обґрунтована активним розвитком інформаційних 
технологій, що допоможе користувачу на великих відстанях отримувати зведену
інформацію з різних медичних сервісів щодо вартості клінічних досліджень 
та оптимальної відстані до медичної лабораторії.</h3>
        </p>



<p>
            <h2 style="color:#B22222">Мета роботи:</h2><h3 style="color: indigo" >оптимізувати  процес пошуку зведеної інформації 
для  медичних  сервісів  з агрегацією широкого спектру відкритих даних.</h3>

        </p>


    </div>




    <img src="~/Content/main.jpg" class="col-md-6" />



<b style="color: white">_________________</b>



<div style="float: right; width: 970px; "><img src="~/Content/orderedList9.png"class="col-md-12"></div>


<ul class="lablinks">
        <li><a href="http://www.synevo.ua/uk/analizy/vse-analizy"><h3>Synevo</h3></a></li>
        <li><a href="http://dila.ua/ua/pricelist/index.html"><h3>Dila</h3></a></li>
        <li><a href="http://dnk-lab.com.ua/price.php"><h3>Dnklab</h3></a></li>
        <li><a href="http://uldc.com.ua/uk/analizy-ciny/itemlist/category/100000007-laboratorni-doslidzhennya.html"><h3>ULDC</h3></a></li>
        <li><a href="http://medlabtest.ua/ua/patients/analizy_i_zeny/po_nazvaniyu/"><h3>Medlabtest</h3></a></li>
        <li><a href="http://www.bioplus.com.ua/pricelist.html"><h3>Bioplus</h3></a></li>
        <li><a href="http://nikolab.com.ua/price/"><h3>Nikolab</h3></a></li>
    </ul>


<div class="jumbotron">
<img src="~/Content/mn.JPEG " class="left; col-md-12 " />
</div>




</div>


